/*fonts links*/
.inter-font {
  font-family: "Inter", sans-serif;
}


.nav-button,
.banner-button{
  transition: 0.33s linear;
}
.nav-button:hover{
  transform: scale(1.1);
}
.banner-button:hover{
  transform: scale(1.1);
}
